{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Agenda de Cuidados{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <header>
        <h1>Olá, Tutor!<br>Bem vindo a sua Agenda de Cuidados Pet ;)</h1>
    </header>

    <nav>
        <a href="{% url 'home' %}">Início</a>
        <a href="{% url 'listar_pets' %}">Meus Pets</a>
        <a href="{% url 'listar_eventos' %}">Consultas e Eventos</a>
        <form action="{% url 'buscar' %}" method="get" class="form-busca">
            <input type="text" name="q" placeholder="Buscar..." required>
            <button type="submit" class="emoji-busca">🔍</button>
        </form>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
